<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('유저 관리')">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User View</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-dark"
      th:replace="fragments/common :: navibar"
    ></nav>

    <main class="container p-5">
      <h1 class="">유저 관리</h1>

      <form
        action="#"
        th:action="@{/admin/form}"
        th:object="${user}"
        method="post"
      >
        <input type="hidden" th:field="*{name}" />
        <div class="from-group">
          <label for="title">전화번호</label>
          <input
            type="text"
            class="form-control"
            id="title"
            th:field="*{mobileNumber}"
            th:classappend="${#fields.hasErrors('mobileNumber')} ? 'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('mobileNumber')}"
            th:errors="*{mobileNumber}"
          >
            번호 에러
          </div>
        </div>
        <div class="from-group">
          <label for="content">주소</label>
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="content"
            th:field="*{address}"
            th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'"
          ></textarea>
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('address')}"
            th:errors="*{address}"
          >
            주소 에러
          </div>
        </div>
        <div class="text-right">
          <a type="button" class="btn btn-dark" th:href="@{/admin/users}"
            >취소</a
          >
          <button type="submit" class="btn btn-dark">확인</button>
        </div>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
